#content{
  display:none;
  overflow:hidden;
  min-height:600px;
}

#students{
  width:300px;
  float:left;
}

#students .student{
  clear:both;
  overflow:hidden;
  padding:4px 10px;
  cursor:pointer;
  border-bottom:1px solid #ccc;
}

#students .student:first-child{
  border-top:1px solid #ccc;
}

#students .student:hover,
#students .student.active:hover{
  background:#e6e6e6;
}

#students .student.active{
  background:#eee;
}

#students .student img{
  float:left;
  width:40px;
  height:40px;
  margin-right:10px;
  -webkit-box-shadow: 0px 1px 9px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 9px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 9px rgba(50, 50, 50, 0.75);
}

#students .student h3{
  font-size:20px;
  line-height:40px;
  overflow: hidden;
  height: 40px;
}

#students .student .additionalInfo{
  display:none;
  clear:both;
  padding-top:5px;
}

#loading{
  width:500px;
  position: absolute;
  left: 29%;
}

#repoInfo{
  visibility:hidden;
  width:600px;
  float:left;
  padding: 0 15px;
  height:100px;
  overflow:hidden;
}

#repoInfo h3{
  margin-right:7px;
}

#repoInfo .description{
  display:inline-block;
}

#repoInfo .stats{
  clear:both;
  overflow:hidden;
}

#repoInfo .stats div{
  display:inline-block;
  margin-right:10px;
}

/* Bubble Styles */
#chart{
  width:600px;
  height:600px;
  float:right;
}

circle {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor:pointer;
}

text {
  font: 10px sans-serif;
  cursor:pointer;
}

footer{
  padding: 10px 10px 5px 10px;
  text-align: right;
  border-top: 1px solid #CCC;
  margin-top: 20px;
}
