body {
  background: #e6e6e6;
}

.navbar{
  margin-bottom:0;
  position: relative;
}

.navbar-inner{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: rgb(173, 209, 182);
}

.navbar .brand {
  color:#111;
  font-weight: bold;
}

.navbar .nav {
  margin-left: 20px;
}

.navbar .nav>li>a {
  color: #333;
  text-shadow: none;
}

.navbar .nav>li.active>a  {
  background: #000;
}

.navbar .nav>li>a:hover {
  background: #049426;
}

#leftSidebar{
  width:300px;
  float:left;
}

#displayOptionsContainer{
  background:#ccc;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.08) 0%, rgba(0,0,0,0.19) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.08)), color-stop(100%,rgba(0,0,0,0.19))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.08) 0%,rgba(0,0,0,0.19) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.08) 0%,rgba(0,0,0,0.19) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.08) 0%,rgba(0,0,0,0.19) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(0,0,0,0.08) 0%,rgba(0,0,0,0.19) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14000000', endColorstr='#30000000',GradientType=0 ); /* IE6-9 */
  overflow:hidden;
  padding-top: 5px;
}


#displayOptions{
  margin:0;
  border-bottom:#aaa 1px solid;
  padding:4px 0;
}

#displayOptions .control-group{
  padding:0 9px;
  margin-bottom:0;
}

#displayOptions .control-label{
  margin-right:5px;
  color:#333;
  font-weight:bold;
  width:100px;
}

#displayOptions .controls{
  margin-left:100px;
}

#displayOptions .checkbox .controls input {
  margin-top: 9px;
  margin-left: 0px;
}

#displayOptions select{
  width:125px;
}

#content{
  overflow:hidden;
  background: #fff;
  border-right: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
}

#studentList {
  display: none;
  background: #fff;
  border-right: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
  overflow: hidden;
}

#students{
  width:300px;
  overflow:scroll;
  background:#EEE;
}

.student{
  clear:both;
  overflow:hidden;
  padding:4px 10px;
  cursor:pointer;
  border-bottom:1px solid #ccc;
  -webkit-box-shadow: inset 0px 3px 4px 1px rgba(150, 150, 150, 0.1);
  -moz-box-shadow: inset 0px 3px 4px 1px rgba(150, 150, 150, 0.1);
  box-shadow: inset 0px 3px 4px 1px rgba(150, 150, 150, 0.1);
}

.student:first-child{
  border-top:1px solid #ccc;
}

.student:hover,
.student.active:hover{
  background:#e6e6e6;
  -webkit-box-shadow: inset 0px 0px 4px 1px rgba(150, 150, 150, 0.2);
  -moz-box-shadow: inset 0px 0px 4px 1px rgba(150, 150, 150, 0.2);
  box-shadow: inset 0px 0px 4px 1px rgba(150, 150, 150, 0.2);
}

.student.active{
  background:#e6e6e6;
}

.student img{
  float:left;
  width:40px;
  height:40px;
  margin-right:10px;
  -webkit-box-shadow: 0px 1px 9px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 9px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 9px rgba(50, 50, 50, 0.75);
}

.student h3{
  font-size:20px;
  line-height:40px;
  overflow: hidden;
  height: 40px;
  text-shadow: 1px 1px 2px #d4d4d4;
  filter: dropshadow(color=#d4d4d4, offx=1, offy=1);
}

.student .additionalInfo{
  display:none;
  clear:both;
  padding-top:5px;
}

.student .additionalInfo .repos,
.student .additionalInfo .followers{
  display:inline-block;
  margin-right:10px;
}

#studentList .student h3 {
    display: inline-block;
    width: 300px;
}

#studentList .student .additionalInfo{
  margin-left: 15px;
  display: inline-block;
}

#studentList .student .company,
#studentList .student .created,
#studentList .student .repos,
#studentList .student .followers,
#studentList .student .githubLink {
  margin-left: 15px;
  display: none;
}

#studentList .student.languages .additionalInfo {
  max-width: 553px;
}

#studentList .student.oldest .additionalInfo .created {
  display: inline;
}

#studentList .student.repos .repos {
  display: inline;
}

#studentList .student.followers .followers {
  display: inline;
}

#studentList .student.followers .followers a {
  margin-left: 15px;
}

#repoInfo{
  visibility:hidden;
  width:600px;
  float:left;
  padding: 10px 15px;
  height:145px;
  overflow:hidden;
}

#repoInfo h3{
  margin-right:7px;
  font-size: 20px
}

#repoInfo h3 .fork {
  display: none;
  padding-left: 10px;
  font-size: 120%;
}

#repoInfo.isfork h3 .fork {
  display: inline;
}

#repoInfo .description{
  display:inline-block;
}

#repoInfo .stats{
  clear:both;
  overflow:hidden;
}

#repoInfo .stats div{
  display:inline-block;
  margin-right:10px;
}

#repoInfo .collaborators img{
  width: 20px;
  height: 20px;
}

#repoInfo .stats .languages{
  display:block;
}


.legendContainer {
  position: absolute;
  top: 10px;
  left: 0;
  width: 600px;
  float: right;
  width: 200px;
  pointer-events: none;
}


.legendContainer .legend{
  margin:4px;
  vertical-align:top;
  text-shadow: 1px 1px 1px #ffffff;
  filter: dropshadow(color=#ffffff, offx=1, offy=1);
}

.legendContainer .legend div{
  width:15px;
  height:15px;
  display:inline-block;
  margin-right:4px;
}


#langchart .legendContainer:first-child {
  margin-left: -130px;
}
#langchart .legendContainer:nth-child(2) {
  margin-left: 30px;
}

#langchart svg {
  margin-left: 230px;
}

/* Bubble Styles */
.chart{
  position:relative;
  width:615px;
  height:615px;
  float:right;
}

.chart svg{
  margin: 0 auto;
  display:block;
}

circle {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor:pointer;
}

#chart text {
  font: 10px sans-serif;
  cursor:pointer;
}

.summary {
  padding: 15px 10px;
  margin: 0 auto;
  width: 600px;
}

.summary .title {
  display: inline-block;
  width: 120px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 140px;
  line-height: 40px;
}

.summary .value {
  font-weight: bold;
  font-size: 30px;
  color: #333;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #999;
  border-radius: 15px;
  margin: 15px 0;
  -webkit-box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.1);      
  box-shadow:  0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px #ffffff;
  filter: dropshadow(color=#ffffff, offx=1, offy=1);
  background: rgb(173,209,182); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(173,209,182,1) 0%, rgba(92,206,121,1) 50%, rgba(116,204,136,1) 51%, rgba(173,209,182,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,209,182,1)), color-stop(50%,rgba(92,206,121,1)), color-stop(51%,rgba(116,204,136,1)), color-stop(100%,rgba(173,209,182,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(173,209,182,1) 0%,rgba(92,206,121,1) 50%,rgba(116,204,136,1) 51%,rgba(173,209,182,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(173,209,182,1) 0%,rgba(92,206,121,1) 50%,rgba(116,204,136,1) 51%,rgba(173,209,182,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(173,209,182,1) 0%,rgba(92,206,121,1) 50%,rgba(116,204,136,1) 51%,rgba(173,209,182,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(173,209,182,1) 0%,rgba(92,206,121,1) 50%,rgba(116,204,136,1) 51%,rgba(173,209,182,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add1b6', endColorstr='#add1b6',GradientType=0 ); /* IE6-9 */

}



footer{
  background: #2C2C2C;
  color:#fff;

}

footer a{
  color:#fff;
}

footer a:hover{
  color:#ccc;
}

footer .container{
  padding:4px 10px 0;
  text-align:right;
  background: #2C2C2C;
}



